.author{
    font-size: 12px;
}

.blog{
    min-height: 430px;
    border: 2px solid var(--main-blue);;
    padding: 20px;
    border-radius: 5px;
}


.blog h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}
.blog:hover p{
    color: #fff;
}

article h1{
    font-size: 3.5rem;
    margin-top: 40px;
}

article h2{
    margin-top: 50px;
    margin-bottom: 5px;
}

article a{
    text-decoration: underline !important;
}

article ul {
    list-style-type: disc;
    margin: 25px;
}
