.neu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    font-size: 30px;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    color: $pink;
    background-color: #151515;
    box-shadow: 3px 3px 5px #000, -3px -3px 5px #252525;
    margin-right: 30px;
    font-family: 'Bebas Neue';
    font-weight: 800;
    &:hover{
        box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
        transform: scale(0.98);
        cursor: pointer;
    }
    
    &:active{
        box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
        transform: scale(0.98);
        color: #32363d;
    }

    @include media-breakpoint-down(md){
        max-width: 100%;
        margin-right: 0px;
    }
}

.handler{
    z-index: 202;

    .neu-btn{
       
        margin-right: 0;
        margin-left: 10px;
        border-radius: 10px !important    ;
        -webkit-border-radius: 10px !important    ;
        -moz-border-radius: 10px !important    ;
        -ms-border-radius: 10px !important    ;
        -o-border-radius: 10px !important    ;
}
}

.Burger{
    height: 60px;
    width: 60px;

}


$color: #fff;

.menut {
    display: block;
    width: 40px;
    position: relative;
    cursor: pointer;
    top: 5px;
    left: 2px;
 
    div {
        position: absolute;
        height: 4px;
        border-radius: 2px;
        background: $color;
        transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6), width .2s ease .2s;
    }
    input {
       opacity: 0;
        width: 42px;
        height: 33px;
        margin-top: 10px;
        margin-left: 10px;
    
        & + div {
            top: 50%;
            left: 0;
            margin: -2px 0 0 0;
            width: 40px;
            transform-origin: 50% 50%;
            & + div {
                z-index: 8;
                top: 12px;
                left: 0;
                width: 20px;
                transform-origin: 0 50%;
                & + div {
                    bottom: 12px;
                    right: 0;
                    width: 28px;
                    transform-origin: 100% 50%;
                    transform: translate(-12px, 0);
                }
            }
        }
        &:checked + div {
            transform: rotate(-45deg);
            transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s;
            & + div {
                width: 19px;
                transform: translate(6px, 0) rotate(45deg);
                transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s, width .2s ease;
                & + div {
                    width: 19px;
                    transform: translate(-6px, 0) rotate(45deg);
                    transition: transform .45s cubic-bezier(.9, -.6, .3, 1.6) .1s, width .2s ease;
                }
            }
        }
    }
}
