@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* global styles */

:root{
    --main-pink: #ff004d;
    --main-blue: #00adb5;
    --main-dark: #151515;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-pink);
    display: inline-block;
}

@media screen and (max-width: 500px){
    h1{
        font-size: 3rem !important;
    }
}


h2{
    font-size: 2.5rem;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--main-blue);;
}

h3{
    font-size: 2rem;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--main-blue);;
}

a{
    text-decoration: none !important;
}
a:hover,
ul a:hover{
    color: var(--main-pink);;
}

nav ul a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #fff;
}

@media screen and (max-width: 800px){
    nav ul a{
        font-size: 1.6rem;
    }
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-dark);;
    color: #fff; 
    font-size: 18px;
    /* overflow-y: hidden; */
}

/* header */

.logo{
    width: 60px;
    height: 60px;
}

li{
    padding: 5px;
}

/* front page */

.hero{
    height: 100vh;
    position: relative;
}

@media screen and (max-width: 500px){
    .hero {
        height: 90vh;
    }
}

.hero__svg{
    position: relative;
}

.hero__svg svg{
    position: absolute;
    right: -150px;
}
.hero h1{
    font-size: 12rem;
    color: #fff;
}

.hero span{
    font-size: 12rem;
    color: rgba(255, 255, 255, .1);
    font-weight: 700;
    margin-top: -150px;
    margin-left: 150px;

}

.hero p{
    font-size: 2rem;
}

.neu-btn{
    font-size: 30px;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    color: var(--main-pink) !important;
    background-color: #151515;
    box-shadow: 3px 3px 5px #000, -3px -3px 5px #252525;
    margin-right: 30px;
    font-family: 'Bebas Neue';
    font-weight: 800;
  }

  .neu-btn:hover {
    box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
    transform: scale(0.98);
    cursor: pointer;
}

  .neu-btn:active {
    box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
    transform: scale(0.98);
    color: #32363d;
}


/* about */

.headline{
    font-size: 4rem;
}

@media screen and (max-width: 500px){
    .headline{
        font-size: 2.5rem;
    }
}

/* blog */

.author{
    font-size: 12px;
}

.blog{
    min-height: 430px;
    border: 2px solid var(--main-blue);;
    padding: 20px;
    border-radius: 5px;
}


.blog h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}
.blog:hover p{
    color: #fff;
}

article h1{
    font-size: 3.5rem;
    margin-top: 40px;
}

article h2{
    margin-top: 50px;
    margin-bottom: 5px;
}

article a{
    text-decoration: underline !important;
}

article ul {
    list-style-type: disc;
    margin: 25px;
}

/* projects */

.portfolio{
    height: 230px;
    border-top: 1px solid; 
}

.port:last-child{
    border-bottom: 1px solid; 
    padding-bottom: 50px;
}

.portfolio h2,
.setup h2{
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
}
.source_btn{
    background-color: var(--main-dark);;
    width: 25%;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    color: var(--main-blue);;
    border: 1px solid var(--main-blue);;
    justify-content: center;
}



.source_btn:hover, .blog:hover{
    border: 1px solid var(--main-pink);;
    box-shadow: #000 2px 2px 2px;
    transition: ease-in-out .3s;
}

/* footer */

footer{
    height: 40vh;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:800px){
    footer{
        height: 40vh;
    }
}

footer ul li {
    margin: 0 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}

footer ul li:first-child, footer ul li:last-child{
    margin-left: 0px;
}

@media screen and (max-width: 500px){
    footer ul li {
        margin: 10px 10px 0 10px;
        font-size: 2rem;
    }

    footer ul li:first-child, footer ul li:last-child{
        margin-left: 10px;
    }
}

.credits{
    font-size: 1.2rem;
}

.credits a{
    color: var(--main-pink);;
}
@media screen and (max-width: 500px){
    .credits{
        font-size: 1rem;
    }
}

.blue{
 color: var(--main-blue);;
}

.pink{
    color: var(--main-pink);;
}

.instaLinks{
    border: 1px solid var(--main-blue);;
    padding-bottom: 10px;
    padding-left: 10px;
}

.instaLinks:hover{
    border: 1px solid var(--main-pink);;
}

.instaLinks:hover h2{
    color: var(--main-pink);;
}
