@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

h1{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ff004d;
    display: inline-block;
}

h1:hover{
    color: #000;
}

h2{
    font-size: 2.5rem;
    margin-top: 15px;
    font-family: 'Bebas neue', cursive;
    font-weight: 600;
    color: #00adb5;
}

a{
    text-decoration: none !important;
}
a:hover,
ul a:hover{
    color: #ff004d;
}

nav ul a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: #000;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #1e2021;
    color: #fff; 
    font-size: 18px;
    /* overflow-y: hidden; */
}

h1::selection,
p::selection{
    color: #000;
    background: #00adb5;
}

.brand{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.brand img{
    width: 30%;
}

li{
    padding: 5px;
}

.author{
    font-size: 12px;
}

.blog,{
    height: 350px;
}

.blog-posts h1{
    font-size: 3rem;
}

.portfolio{
    height: 220px;
}
.source_btn{
    background-color: #1e2021;
    width: 25%;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    color: #00adb5;
    border: 1px solid #00adb5;
    justify-content: center;
}

.source_btn:hover{
    border: 1px solid #ff004d;
    box-shadow: #000 2px 2px 2px;
    transition: ease-in-out .3s;
}

footer ul li {
    margin: 0 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}


.credits{
    font-size: 16px;
}
.blue{
 color: #00adb5;
}

.pink{
    color: #ff004d;
}

