@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* global styles */

h1{
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ff004d;
    display: inline-block;
}

@media screen and (max-width: 500px){
    h1{
        font-size: 3rem;
    }
}

h1:hover{
    color: #000;
}

h2{
    font-size: 2.5rem;
    margin-top: 15px;
    font-family: 'Bebas neue', cursive;
    font-weight: 600;
    color: #00adb5;
}

a{
    text-decoration: none !important;
}
a:hover,
ul a:hover{
    color: #ff004d;
}

nav ul a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: #000;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #fff; 
    font-size: 18px;
    /* overflow-y: hidden; */
}

h1::selection,
p::selection{
    color: #000;
    background: #00adb5;
}

/* header */

.header{
    height: 20vh;
}

.brand{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.brand img{
    width: 30%;
}

li{
    padding: 5px;
}

.full-height{
    height: 100vh;
}

/* front page */

.hero {
    height: 70vh;
}

.hero p{
    font-size: 2rem;
}

/* about */

.headline{
    font-size: 4rem;
}

/* blog */

.author{
    font-size: 12px;
}

.blog,{
    height: 350px;
}

.blog-posts h1{
    font-size: 3rem;
}

/* projects */

.portfolio{
    height: 220px;
}
.source_btn{
    background-color: #1e2021;
    width: 25%;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    color: #00adb5;
    border: 1px solid #00adb5;
    justify-content: center;
}

.source_btn:hover{
    border: 1px solid #ff004d;
    box-shadow: #000 2px 2px 2px;
    transition: ease-in-out .3s;
}

/* footer */

footer ul li {
    margin: 0 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}


.credits{
    font-size: 1.5rem;
}
.blue{
 color: #00adb5;
}

.pink{
    color: #ff004d;
}

.instaLinks{
    border: 1px solid #00adb5;
    padding-bottom: 10px;
    padding-left: 10px;
}

.instaLinks:hover{
    border: 1px solid #ff004d;
}

.instaLinks:hover h2{
    color: #ff004d;
}