.hero{
    visibility: hidden;
    height: 100vh;
    position: relative;
    @include media-breakpoint-down(md){
        height: 100%;
        margin-top: 60px;
    }

    .grid{
        position: absolute;
        right: -150px;
        top: 50px;
    
    }
    &__svg{
        @include media-breakpoint-down(sm){
            height: 500px;
            position: relative;
        }
        &--blob{
            position: absolute;
            right: -150px;
            z-index: 0;

            @include media-breakpoint-down(sm){
                width: 140%;
                top: -100px;
            }
        }
        img{
            position: absolute;
            z-index: 5;
            top: 50px;
            left: 0;
            @include media-breakpoint-down(sm){
                top: 130px;
                left: 30px;
            }
            @include media-breakpoint-down(md){
                top: 180px;
            }
        }
    }
  
    &__section{
        a{
            color: $pink;
        }
        
        h1{
            font-size: 12rem;
            color: #fff;
            
            @include media-breakpoint-down(md){
                font-size: 7rem !important;
            }
        }
        span{
            font-size: 12rem;
            color: rgba(255, 255, 255, .1);
            font-weight: 700;
            margin-top: -150px;
            margin-left: 150px;
            @include media-breakpoint-down(md){
                font-size: 7rem;
                margin-top: -60px;
                margin-left: 0px;
            }
        }
        p{
            font-size: 2rem;
        }
    } 
    
}


.about{
    padding: 60px;
    margin: 60px 0;
    @include media-breakpoint-down(md){
        padding: 60px 0;
    }
    h2{
        color: $pink !important;
        line-height: .8;
    }
    &__bia-who{
        color: #fff;
        margin-left: 70px;
    }
    &__multiply-text{
        color: rgba(255, 255, 255, 0.1) !important;
        font-size: 7rem;
        font-weight: 700;
        position: absolute;
        top: 60px;
        margin-left: 15px;
        @include media-breakpoint-down(md){
            font-size: 3rem;
            position: relative;
            top: 0;
            margin-left: 0px;
        }
    }
    &__paragraph{
        margin-top: 100px;
        padding-right: 100px;
        @include media-breakpoint-down(md){
            margin-top: 30px;
            padding-right: 0;
        }
    }
    
    &__block{
        display: flex;
        width: 250px;
        height: 250px;
        padding-bottom: 30px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px #000, -3px -3px 5px #252525;
        &:hover{
            box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
        }
        &:hover{
            h3{
                margin-right: 0;
                transition: ease-out .3s;
            }
        }
        h3{
            margin-right: -50px;
        }
    }
}

.stack{
    background-image: url('../images/keyboard.png');
    background-position: left bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md){
        background-position: center;
    }
    @include media-breakpoint-down(sm){
        background-position: 50% 85%;
        background-size: 100%;
    }
    
    &__blob{
        position: relative;
        @include media-breakpoint-down(md){
            top: -100px;
        }
        @include media-breakpoint-down(sm){
            top: -150px;
        }
        svg{
            margin-left: -305px;
            z-index: -1;
           
            @include media-breakpoint-down(md){
                margin-left: -250px;
                width: 200%;
            } 
            @include media-breakpoint-down(sm){
                margin-left: -330px;
            }
           
        }
        &--text{
            position: absolute;
            z-index: 2;
            top: 35%;
            padding-right: 130px;
            @include media-breakpoint-down(md){
                padding-right: 0;
            }
            @include media-breakpoint-down(sm){
                padding-right: 30px;
            }
            
            h2{
                line-height: .8;
                margin-bottom: 30px;
            }
            
            .front{
                color: #151515;
            }
            .text-stack{
                margin-left: 65px;
            }
        }
    }
    &__skills{
        .grid{
            position: absolute;
            z-index: 0;
            top: -100px;
            right: -120px;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
        span{
            z-index: 1;
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
}

.newsletter{
    .newsletter__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        margin: 100px 0;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
    }
}