.hero {
  visibility: hidden;
  height: 100vh;
  position: relative;
  @include media-breakpoint-down(md) {
    height: 100%;
    margin-top: 60px;
  }

  .grid {
    position: absolute;
    right: -150px;
    top: 50px;
  }
  &__svg {
    @include media-breakpoint-down(sm) {
      height: 500px;
      position: relative;
    }
    &--blob {
      position: absolute;
      right: -150px;
      z-index: 0;
      display: none;

      @include media-breakpoint-down(sm) {
        width: 140%;
        top: -100px;
      }
    }
    img {
      position: absolute;
      z-index: 5;
      top: 50px;
      left: 0;
      @include media-breakpoint-down(sm) {
        top: 130px;
        left: 30px;
      }
      @include media-breakpoint-down(md) {
        top: 40px;
      }
    }
  }

  &__section {
    a {
      color: $pink;
    }

    h1 {
      font-size: 9rem;
      color: #fff;

      @include media-breakpoint-down(md) {
        font-size: 3.5rem !important;
      }
    }
    span {
      font-size: 9rem;
      color: $grey;
      font-weight: 700;
      margin-top: -60px;
      // margin-left: 150px;
      @include media-breakpoint-down(md) {
        font-size: 3.5rem;
        margin-top: -30px;
      }
    }
    p {
      font-size: 2rem;
      color: $white;
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }
  }

  .neu-btn {
    @include media-breakpoint-down(md) {
      margin-right: 10px;
    }
  }
}

.about {
  padding: 60px;

  @include media-breakpoint-down(md) {
    padding: 0;
  }
  h2 {
    color: $pink !important;
    line-height: 0.8;
  }
  &__bia-who {
    color: $white;
    font-size: 3rem;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
  &__photo {
    background-image: url("../images/bia-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    @include media-breakpoint-down(lg) {
      height: 500px;
      margin: 60px 0;
    }
  }
  // &__multiply-text{
  //     color: rgba(255, 255, 255, 0.1) !important;
  //     font-size: 7rem;
  //     font-weight: 700;
  //     @include media-breakpoint-down(md){
  //         font-size: 3rem;
  //         position: relative;
  //         top: 0;
  //         margin-left: 0px;
  //     }
  // }
  &__paragraph {
    margin-top: 30px;
    color: $grey;
    @include media-breakpoint-down(md) {
      margin-top: 30px;
      padding-right: 0;
    }
  }

  &__block {
    display: flex;
    width: 250px;
    height: 250px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #000, -3px -3px 5px #252525;
    &:hover {
      box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #252525;
    }
    &:hover {
      h3 {
        margin-right: 0;
        transition: ease-out 0.3s;
      }
    }
    h3 {
      margin-right: -50px;
    }
  }
}

.stack {
    &--text {
      // position: absolute;
      z-index: 2;
      // top: 35%;
      // padding-right: 130px;
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
      @include media-breakpoint-down(sm) {
        padding-right: 30px;
      }

      h2 {
        line-height: 0.8;
        margin-bottom: 30px;
      }

      .front {
        color: $white;
      }
      // .text-stack{
      //     margin-left: 65px;
      // }
    }
  
  &__skills {
    .grid {
      position: absolute;
      z-index: 0;
      top: 0px;
      right: -200px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    span {
      z-index: 1;
      font-size: 40px;
      margin-bottom: 15px;
    }
  }
}
.insta-feed {
  margin: 120px 0;
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__follow {
    color: $pink;
    display: flex;
    align-items: center;

    &:hover {
      svg {
        transform: translateX(10px);
        transition: ease 0.3s;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin: 30px 0;
  }
}
