
.portfolio{
    height: 230px;
    border-top: 1px solid; 
}

.port:last-child{
    border-bottom: 1px solid; 
    padding-bottom: 50px;
}

.portfolio h2,
.setup h2{
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
}
.source_btn{
    background-color: var(--main-dark);;
    width: 25%;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    color: var(--main-blue);;
    border: 1px solid var(--main-blue);;
    justify-content: center;
}



.source_btn:hover, .blog:hover{
    border: 1px solid var(--main-pink);;
    box-shadow: #000 2px 2px 2px;
    transition: ease-in-out .3s;
}