
.portfolio{
    height: 100%;
    border-top: 1px solid; 
    h2{
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
    }
}

.port:last-child{
    border-bottom: 1px solid; 
    padding-bottom: 50px;
}

.setup{
     h2{
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
}
}

.neu_btn{
    background-color: var(--main-dark);;
    max-width: 25%;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    color: var(--main-blue);;
    border: 1px solid var(--main-blue);;
    justify-content: center;
}



// .blog:hover{
//     border: 1px solid var(--main-pink);;
//     box-shadow: #000 2px 2px 2px;
//     transition: ease-in-out .3s;
// }