
.portfolio{
    height: 100%;
    border-top: 1px solid; 
    h2{
        font-family: $primary-font;
        font-size: 1.8rem;
    }
}

.port:last-child{
    border-bottom: 1px solid; 
    padding-bottom: 50px;
}

.setup{
     h2{
    font-family: $primary-font;
    font-size: 1.8rem;
}
}

.neu_btn{
    background-color: var(--main-dark);
    max-width: 100%;
    width: 100%;
    padding: 10px 55px;

}



// .blog:hover{
//     border: 1px solid var(--main-pink);;
//     box-shadow: #000 2px 2px 2px;
//     transition: ease-in-out .3s;
// }