@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina'), url(../fonts/neue-machina/NeueMachina-Regular.otf) format('truetype');
}
@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf'), url(../fonts/telegraf/Telegraf-Regular-400.otf) format('truetype');
}